{% extends 'base.html' %}

{% load static %}

{% load bootstrap %}

{% block title %}
    Variedade | Farm Manager
{% endblock %}

{% block content %}
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Listagem de Variedades</h1>

    <div class="d-flex justify-content-end mb-2">
        <a href="{% url 'registrar_variedade' %}" class="btn btn-primary btn-icon-split btn-sm">
            <span class="icon text-white-50">
                <i class="fas fa-plus"></i>
            </span>
            <span class="text">Registrar Variedade</span>
        </a>  
    </div> 

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nome</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for variedade in variedades %}
                        <tr>
                            <td><a href="{% url 'visualizar_variedade' variedade.id %}">{{variedade.nome}}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    {% if variedades.lenght > 5 %}
                        <tfoot>
                            <tr>
                                <th>Nome</th>
                            </tr>
                        </tfoot>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block css %}
    <!-- Custom styles for this page -->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block javascript %}
    <!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
{% endblock %}