{% extends 'base.html' %}

{% load static %}

{% load bootstrap %}

{% block title %}
    Variedade | Farm Manager
{% endblock %}

{% block content %}
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Variedade</h1>

    <!-- Default Card Example -->
    <div class="card mb-4">
        <div class="card-header">
            Registrar Variedade
        </div>
        <div class="card-body">
            <!-- Nested Row within Card Body -->
            <form class="user" method="POST">
                {% csrf_token %}
                {{form|bootstrap}}
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                <button class="btn bt-primary">
                    Registrar Variedade
                </button>
            </form> 
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <!-- Inicialização -->
    <script>
        $(document).ready(function(){
            $("#id_nome").attr("required", false);
        });
    </script>
{% endblock %}