{% extends 'base.html' %}

{% load static %}

{% load usuario_extras %}

{% load bootstrap %}

{% block title %}
    Variedade | Farm Manager
{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'listar_variedades' %}">Variedades</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{variedade.nome}}</li>
        </ol>
    </nav>

    <!-- Nested Row within Card Body -->
    <div class="form-group">
        <label class="control-label" for="id_nome">Nome</label>
        <div class="col-sm-6">
            <input value="{{variedade.nome}}" class="form-control" id="id_nome" disabled>
        </div>
    </div>

    {% if request.user|has_groups:"Administrador" %}
        <a href="{% url 'editar_variedade' variedade.id %}" class="btn bt-blue">
            Editar
        </a>

        <a href="{% url 'remover_variedade' variedade.id %}" class="btn bt-red">
            Deletar
        </a>
    {% endif %}
{% endblock %}
