{% extends 'usuarios/base.html' %}

{% load static %}

{% load bootstrap %}

{% block title %}
    Login | Farm Manager
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center align-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block border">
                                <img src="{% static 'img/login.svg' %}" class="figure-img w-100 h-100 p-5 img-fluid rounded" alt="login">
                            </div>
                            <div class="col-lg-6 border">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Conectar ao Sistema</h1>
                                    </div>
                                    
                                    <form class="user">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user"
                                                id="id_username" name="email" aria-describedby="emailHelp"
                                                placeholder="Insira o e-mail...">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                id="id_password" placeholder="Insira a senha...">
                                        </div>
                                        <div class="form-group">
                                            <div class="form-check form-switch ms-3">
                                                <input class="form-check-input" type="checkbox" id="check_login">
                                                <label class="form-check-label" for="check_login">Mostrar senha</label>
                                            </div>
                                        </div>
                                        <button id="btn-login" class="btn btn-success btn-user btn-block">
                                            Login
                                        </button>
                                    </form>

                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="{% url 'reset_password' %}">Esqueceu a senha?</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="{% url 'signup' %}">Criar uma conta!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- <div class="container center">
    <div class="item-center container">
        <div class="container">
            <div class="card p-2 z-depth-4">
            <span class="card-title">
                <h5 class="fw-bold">LOGIN</h5>
            </span>

            <div class="card-content">
                <div class="row">
                <form method="POST" class="user" validate="{% url 'validate_user' %}">
                    {% csrf_token %}
                    <div class="container">
                    {{form|bootstrap}}
                    </div>

                    <p class="mb-3">
                        <label>
                            <input id="check_login" type="checkbox"/>
                            <span>Mostrar Senha</span>
                        </label>
                    </p>

                    <div class="row center mt-2">
                    <a class="center waves-effect waves-light btn bt-secondary z-depth-4 m-1" href="{% url 'signup' %}">
                        REGISTRAR
                    </a>
                    
                    <button id="btn-login" class="center waves-effect waves-light btn bt-primary z-depth-4 m-1" type="submit">
                        ENTRAR
                    </button>
                    </div>

                    <div class="center">
                    <div class="container mt-2">
                        Esqueceu a senha?
                        <a id="esqueceu" href="">
                        Recuperar
                        </a>
                    </div>
                    </div>
                </form>
                </div>
            </div>
            </div>
        </div>
    </div>
</div> -->
{% endblock %}

{% block css %}
{% endblock %}

{% block javascript %}
<!-- Função Ajax - Validar Usuário -->
<script>
    $("#id_username").change(function () {
    var form = $(this).closest("form");
    $.ajax({
        url: "{% url 'validate_user' %}",
        data: form.serialize(),
        dataType: 'json',
        success: function (data) {
        if(!data.is_user){
            M.toast({html: data.error_message})
            $("#btn-login").attr("disabled", true);
        }
        else{
            $("#btn-login").attr("disabled", false);
        }
        }
    });
    });
</script>

<!-- Mostrar/Ocultar Senha -->
<script>
    $('#check_login').click(function () {
    if($(this).is(':checked')){
        $("#id_password").attr("type", "text");
    } 
    else {
        $("#id_password").attr("type", "password");
    }
    })
</script>
{% endblock %}