{% extends 'usuarios/base.html' %}

{% load static %}

{% load bootstrap %}

{% block title %}
    Redefinir senha | Votation
{% endblock %}

{% block content %}
    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
                                        <p class="mb-4">We get it, stuff happens. Just enter your email address below
                                            and we'll send you a link to reset your password!</p>
                                    </div>
                                    <form class="user" method="POST">
                                        {% csrf_token %}
                                        {{form|bootstrap}}
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user"
                                                id="exampleInputEmail" aria-describedby="emailHelp"
                                                placeholder="Insira o Endereço de E-mail...">
                                        </div>
                                        <button id="btn_reset_password" class="btn btn-primary btn-user btn-block" type="submit">
                                            Resetar Senha
                                        </button>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="{% url 'signup' %}">Criar uma conta!</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="{% url 'login' %}">Já possui uma conta? Login!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- ----------------------------------------------





    <div class="item-center container center">
        <div class="container">
            <div class="container">
                <div class="card p-3 z-depth-4">
                    <h5 class="fw-bold fs-4">Recuperar Senha</h5>
                    <div class="card-content">
                        <form method="POST" validate="{% url 'validate_email_registered' %}">
                            {% csrf_token %}

                            {{form|bootstrap}}
                            <div class="row">
                                <div class="col s12">
                                    <span class="helper-text left" data-error="wrong" data-success="right">*Insira um e-mail válido para recuperação de conta</span>
                                </div>

                                <div class="col s12">
                                    <div class="container center">
                                        <a href="#modal-back" class="waves-effect waves-light bt-primary z-depth-4 btn m-1 modal-trigger">
                                            <span class="text">VOLTAR</span>
                                        </a>
                                        
                                        <button id="btn_reset_password" class="waves-effect waves-light bt-primary z-depth-4 btn m-1" type="submit">
                                            <span class="text">ENVIAR</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function(){
            $("#btn_reset_password").attr("type", "password");
            $("#id_confirm_password").attr("type", "password");

            $('.modal').modal();
        });
    </script>

    <!-- Validação do E-mail -->
    <script>
        $("#id_email").change(function () {
            var form = $(this).closest("form");
            $.ajax({
                url: "{% url 'validate_email_registered' %}",
                data: form.serialize(),
                dataType: 'json',
                success: function (data) {
                    //CONFIRM IF EMAIL EXIST
                    if(!data.is_email_registered){
                        M.toast({html: data.error_message})
                        $("#btn_reset_password").attr("disabled", true);
                    }
                    else{
                        $("#btn_reset_password").attr("disabled", false);
                    }
                }
            });
        });
    </script>
{% endblock %}