{% extends 'base.html' %}

{% load static %}

{% load bootstrap %}

{% block title %}
    Listar Anotações | Farm Manager
{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'listar_fazendas_consultoria' %}">Consultorias</a></li>
            <li class="breadcrumb-item"><a href="{% url 'listar_consultorias' consultoria.fazenda.id %}">{{consultoria.fazenda.nome}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{consultoria.data}}</li>
        </ol>
    </nav>

    <!-- Page Heading -->
    <div class="row">
        <div class="col mr-2">
            <div class="text-xs font-weight-bold fs-6 mb-1">
                <h1 class="h3 mb-4 text-gray-800">Anotações da Consultoria</h1>
            </div>
        </div>
        <div class="col-auto pe-3">
            <div class="d-flex align-items-center">
                <a href="{% url 'visualizar_consultoria' consultoria.id %}" class="icon-config">
                    <i class="fas fa-edit fs-4"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Título</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for anotacao in anotacoes %}
                            <tr>
                                <td><a href="{% url 'visualizar_anotacao' anotacao.id %}">{{anotacao.titulo}}</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    {% if anotacoes.lenght > 5 %}
                        <tfoot>
                            <tr>
                                <th>Título</th>
                            </tr>
                        </tfoot>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>

    <a href="{% url 'registrar_anotacao' consultoria.id %}" class="btn bt-primary">
        Registrar Anotação
    </a>
{% endblock %}

{% block css %}
    <!-- Custom styles for this page -->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

    <!-- <style>
        .icon-config{
            color: #c3c5ce;
        }
        .icon-config:hover{
            color: #9d9da3;
        }
    </style> -->
{% endblock %}

{% block javascript %}
    <!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
{% endblock %}