{% extends 'base.html' %}

{% load static %}

{% load bootstrap %}

{% block title %}
    Visualizar Anotação | Farm Manager
{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'listar_fazendas_consultoria' %}">Consultorias</a></li>
            <li class="breadcrumb-item"><a href="{% url 'listar_consultorias' anotacao.consultoria.fazenda.id %}">{{anotacao.consultoria.fazenda.nome}}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'listar_anotacoes' anotacao.consultoria.id %}">{{anotacao.consultoria.data}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{anotacao.titulo}}</li>
        </ol>
    </nav>

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">{{anotacao.titulo}}</h1>

    <!-- Nested Row within Card Body -->
    <div class="row">
        <div class="form-group col-sm-6">
            <label class="control-label" for="id_titulo">Título: </label>
            <input value="{{anotacao.titulo}}" class="form-control" id="id_titulo" disabled>
        </div>

        <div class="form-group col-sm-6">
            <label class="control-label" for="id_variedade">Variedades: </label>
            <input value="{% if anotacao.variedade.all %}{% for anotacao in anotacao.variedade.all %}{% if not forloop.first %}, {% endif %}{{anotacao}}{% endfor %}{% else %}Não há variedades no momento!{% endif %}" class="form-control" id="id_variedade" disabled>
        </div>

        <div class="form-group col-sm-6">
            <label class="control-label" for="id_litros_cova">Litros por Cova: </label>
            <input value="{{anotacao.litros_cova}}" class="form-control" id="id_litros_cova" disabled>
        </div>

        <div class="form-group col-sm-6">
            <label class="control-label" for="id_produtividade">Produtividade: </label>
            <input value="{{anotacao.produtividade}}" class="form-control" id="id_produtividade" disabled>
        </div>

        <div class="form-group col-sm-6">
            <label class="control-label" for="id_produtividade_sacas_hectare">Produtividade de Sacas por Hectare: </label>
            <input value="{{anotacao.produtividade_sacas_hectare}}" class="form-control" id="id_produtividade_sacas_hectare" disabled>
        </div>

        <div class="form-group col-sm-12 mb-5">
            <label class="control-label" for="id_descricao">Descrição: </label>
            <span id="id_descricao" class="form-control h-100 text-justify pt-3 px-3 disabled">{{anotacao.descricao}}</span>
        </div>
    </div>

    <a href="{% url 'editar_anotacao' anotacao.id %}" class="btn bt-blue">
        Editar
    </a>

    <a href="#" data-toggle="modal" data-target="#remove_anotacao_modal" class="btn bt-red">
        Deletar
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="remove_anotacao_modal" tabindex="-1" role="dialog" aria-labelledby="example_remove_anotacao_modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="example_remove_anotacao_modal">Realmente deseja deletar essa anotacao?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Selecione "Deletar" abaixo se você estiver pronto para deletar sua anotação atual.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn bt-red" href="{% url 'remover_anotacao' anotacao.id %}">Deletar</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block css %}
    <style>
        .disabled{
            background-color: #EAECF4;
        }
    </style>
{% endblock %}