{% extends 'base.html' %}

{% load static %}

{% load bootstrap %}

{% block title %}
    {{ action }} Consultoria | Farm Manager
{% endblock %}

{% block content %}
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">{{ action }} Consultoria</h1>

    <!-- Nested Row within Card Body -->
    <form class="user" method="POST">
        {% csrf_token %}
        {{form.data|bootstrap}}
        <button class="btn bt-primary">
            {{action}}
        </button>
        <a href="
            {% if action == 'Registrar' %}
                {% url 'listar_consultorias' id_fazenda %}
            {% else %}
                {% if consultoria %}
                    {% url 'visualizar_consultoria' consultoria.id %}
                {% endif %}
            {% endif %}
        " class="btn bt-secondary">
            Cancelar
        </a>
    </form> 
{% endblock %}

{% block css %}
    <!-- Import CSS datepicker -->
    <link rel="stylesheet" href="{% static 'css/datepicker/bootstrap-material-datetimepicker.css' %}">
{% endblock %}

{% block javascript %}
    <!-- Importando DatePicker -->
    <script src="{% static 'js/datepicker/bootstrap-material-datetimepicker.js' %}"></script>

    <!-- Inicialização -->
    <script>
        $(document).ready(function(){

            $('#id_dataNascimento').bootstrapMaterialDatePicker({
                weekStart : 0, 
                format: "DD/MM/YYYY",
                time: false 
            });

            $(".form-control").attr("required", false);
            
            //$('#id_data').mask('00/00/0000');
        });
    </script>
{% endblock %}