{% extends 'base.html' %}

{% load static %}

{% load bootstrap %}

{% block title %}
    Listar Serviços | Farm Manager
{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Serviços</li>
        </ol>
    </nav>

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Listagem de Serviços</h1>

    <div class="row">
        <!-- Talhões -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold fs-6 text-success text-uppercase mb-1">
                                Talhões
                            </div>
                            <!-- <div class="h5 mb-0 font-weight-bold text-gray-800">{{talhoes|length}}</div> -->
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Funcionários -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold fs-6 text-primary text-uppercase mb-1">
                                Funcionários
                            </div>
                            <!-- <div class="h5 mb-0 font-weight-bold text-gray-800">{{funcionarios|length}}</div> -->
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user-friends fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tratores -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold fs-6 text-info text-uppercase mb-1">
                                Tratores
                            </div>
                            <!-- <div class="h5 mb-0 font-weight-bold text-gray-800">{{tratores|length}}</div> -->
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-tractor fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Emplementos -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-secondary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold fs-6 text-secondary text-uppercase mb-1">
                                Emplementos
                            </div>
                            <!-- <div class="h5 mb-0 font-weight-bold text-gray-800">{{emplementos|length}}</div> -->
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-tools fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Serviços -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold fs-6 text-warning text-uppercase mb-1">
                                Serviços
                            </div>
                            <!-- <div class="h5 mb-0 font-weight-bold text-gray-800">{{servicos|length}}</div> -->
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-check fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}