{% extends 'base.html' %}

{% load static %}

{% load bootstrap %}

{% block title %}
    Listar Serviços | Farm Manager
{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Serviços</li>
        </ol>
    </nav>
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Listagem de Serviços</h1>

    {% for servico in listServicos %}
        {{servico.talhao}}
        {{servico.get_status_display}}
        <a href="rl ditar_funcionario' funcionario.id %}" class="btn bt-blue">
            Mais informações
        </a>
        <br>
    {% endfor %}




    <a href="{% url 'cadastrarServico' fazenda.id %}" class="btn bt-blue">
        Novo Serviço
    </a>
{% endblock %}