{% extends 'base.html' %}

{% load static %}

{% load bootstrap %}

{% block title %}
    Listar Maquinários | Farm Manager
{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'listar_fazendas' %}">Fazendas</a></li>
            <li class="breadcrumb-item"><a href="{% url 'painel_administrativo' fazenda.id %}">{{fazenda.nome}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% ifequal tipo_maquinario 1 %}Tratores{% else %}Emplementos{% endifequal %}</li>
        </ol>
    </nav>

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Listagem de {% ifequal tipo_maquinario 1 %}Tratores{% else %}Emplementos{% endifequal %}</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Marca & Modelo</th>                 
                        </tr>
                    </thead>
                    <tbody>
                        {% for maquinario in maquinarios %}
                        <tr>
                            <td><a href="{% url 'visualizar_maquinario' maquinario.id %}">{{maquinario.marca}} {{maquinario.modelo}}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    {% if maquinarios|length > 5 %}
                        <tfoot>
                            <tr>
                                <th>Marca</th>
                                <th>Modelo</th>
                            </tr>
                        </tfoot>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
    

    <a href="{% url 'registrar_maquinario' fazenda.id %}" class="btn bt-primary">
        Registrar
    </a>
{% endblock %}

{% block css %}
    <!-- Custom styles for this page -->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block javascript %}
    <!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
{% endblock %}