{% extends 'base.html' %}

{% load static %}

{% load bootstrap %}

{% block title %}
    Registrar Maquinário | Farm Manager
{% endblock %}

{% block content %}
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Registrar Maquinário</h1>

    <!-- Nested Row within Card Body -->
    <form class="user" method="POST">
        {% csrf_token %}
        {{form|bootstrap}}
        <button class="btn bt-primary">
            {{action}}
        </button>
        <a href="
            {% if action == 'Registrar' %}
                {% url 'listar_maquinarios' fazenda.id id_tipo %}
            {% else %}
                {% if talhao %}
                    {% url 'visualizar_maquinarios' talhao.id %}
                {% endif %}
            {% endif %}
        " class="btn bt-secondary">
            Cancelar
        </a>
    </form> 
{% endblock %}

{% block javascript %}
    <!-- Inicialização -->
    <script>
        $(document).ready(function(){
            $("#id_data_aquisicao").mask('00/00/0000');
            $(".form-control").attr("required", false);
        });
    </script>
{% endblock %}