{% load static %}

{% load usuario_extras %}

<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="description" content="O Objetivo deste website é realizar a gestão de uma fazenda.">
        <meta name="author" content="Lucas Eduardo de Oliveira Santos, Albert Allan Ramos, Fernanda Thomaz Telles de Nogueira Cravo">

        <!-- Let browser know website is optimized for mobile -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

        <!-- Import Material Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- Import Custom fonts for this template-->
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

        <!-- Import Select 2 -->
        <link type="text/css" rel="stylesheet" href="{% static 'css/select2/select2.min.css' %}">

        <!-- Importando função de carregamento -->
        <link rel="stylesheet" href="{% static 'css/HoldOn/holdon.min.css' %}">

        <!-- Import CSS Personalizado -->
        <link type="text/css" rel="stylesheet" href="{% static 'css/index.css' %}">

        <!-- Import CSS Personalizado -->
        <link type="text/css" rel="stylesheet" href="{% static 'css/custom.css' %}">

        {% block css %}
        {% endblock %}

        <title>
            {% block title %}
                Farm Manager
            {% endblock %}
        </title>
    </head>

    <body id="page-top">
        <div id="wrapper">

            <!-- Sidebar -->
            <ul class="navbar-nav bg-primary sidebar sidebar-dark accordion" id="accordionSidebar">
                
                <hr class="sidebar-divider my-0">

                <!-- Nav Item - Dashboard -->
                <li class="nav-item 
                    {% if url_active %} 
                        {% if url_active == '/' %}active{% endif %}
                    {% endif %}
                ">
                    <a class="nav-link" href="/">
                        <i class="fas fa-fw fa-home"></i>
                        <span>Dashboard</span></a>
                </li>

                <hr class="sidebar-divider my-0">

                <!-- Nav Item - Fazendas -->
                <li class="nav-item 
                    {% if url_active %} 
                        {% if url_active == 'fazenda' %}active{% endif %}
                    {% endif %}">
                    <a class="nav-link" href="{% url 'listar_fazendas' %}">
                        <i class="fad fa-farm"></i>
                        <span>Fazendas</span>
                    </a>
                </li>

                <!-- Nav Item - Variedades -->
                <li class="nav-item 
                    {% if url_active %} 
                        {% if url_active == 'variedade' %}active{% endif %}
                    {% endif %}">
                    <a class="nav-link" href="{% url 'listar_variedades' %}">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Variedades</span>
                    </a>
                </li>

                <li class="nav-item 
                    {% if url_active %} 
                        {% if url_active == 'adubo' %}active{% endif %}
                    {% endif %}">
                    <a class="nav-link" href="{% url 'listar_adubos' %}">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Adubos</span>
                    </a>
                </li>

                <hr class="sidebar-divider d-none d-md-block">

                <!-- Sidebar Toggler (Sidebar) -->
                <!-- <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div> -->
            </ul>

            <div id="content-wrapper" class="d-flex flex-column">
                <!-- Main Content -->
                <div id="content">
                    <!-- Topbar -->
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                        <span class="ps-2 fs-5">Farm Manager</span>
                        <!-- Topbar Navbar -->
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown no-arrow d-sm-none">
                                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-search fa-fw"></i>
                                </a>
                                <!-- Dropdown - Messages -->
                                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                    aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto w-100 navbar-search">
                                        <div class="input-group">
                                            <input type="text" class="form-control bg-light border-0 small"
                                                placeholder="Search for..." aria-label="Search"
                                                aria-describedby="basic-addon2">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" type="button">
                                                    <i class="fas fa-search fa-sm"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </li>

                            <div class="topbar-divider d-none d-sm-block"></div>

                            <!-- Nav Item - User Information -->
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{request.user.get_short_name}}</span>
                                    <img class="img-profile rounded-circle" src="{% static 'img/undraw_profile.svg' %}">
                                </a>
                                <!-- Dropdown - User Information -->
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                    aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Profile
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Logout
                                    </a>
                                </div>
                            </li>
                            
                        </ul>
                    </nav>
                    <!-- End of Topbar -->

                    <div class="container-fluid">
                        {% block content %}
                        {% endblock %}                      
                    </div>
                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span class="fs-7">&copy; Copyright 2021 {% if year %}{% ifequal year 2021 %}{% else %}- {{year}} {% endifequal %}{% endif %}| Farm Manager, Todos os direitos reservados.</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->
            </div>
            <!-- End of Content Wrapper -->
        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Realmente deseja desconectar?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Selecione "Logout" abaixo se você estiver pronto para encerrar sua sessão atual.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                        <a class="btn bt-primary" href="{% url 'logout' %}">Logout</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript-->
        <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

        <!-- Core plugin JavaScript-->
        <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

        <!-- Custom scripts for all pages-->
        <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

        <!-- Import JQuery Mask -->
        <script src="{% static 'js/jquery.mask.js' %}"></script>

        <!-- Importando função de carregamento -->
        <script src="{% static 'js/HoldOn/holdon.min.js' %}"></script>

        <!-- Inicialização -->
        <script>
            $(document).ready(function(){
                $("#btn_reset_password").attr("disabled", true);
                $("#btn_signup_signup").attr("disabled", true);
                $("#btn-login").attr("disabled", true);

                $(".toast").toast('show');

                $('select').select2({
                    theme: 'bootstrap4',
                });

                $(function () {
                    $('[data-toggle="tooltip"]').tooltip()
                })

                $(window).bind('beforeunload', function() {
                    var options = {
                        theme: "sk-cube-grid",
                        message: '{% if messagem_screen %}{{messagem_screen}}{% else %}Por favor, aguarde...{% endif %}',
                        backgroundColor: "#1847B1k",
                        textColor: "white"
                    };
                    HoldOn.open(options);
                });
                $(window).load(function() {
                    HoldOn.close();
                }); 
            });
        </script>

        <!-- Mostrar e Ocultar Senha -->
        <script>
            $('#check_login').click(function () {
                if($(this).is(':checked')){
                    $("#id_new_password1").attr("type", "text");
                    $("#id_new_password2").attr("type", "text");
                }
                else {
                    $("#id_new_password1").attr("type", "password");
                    $("#id_new_password2").attr("type", "password");
                }
            })
        </script>

        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success'%}
                    <div class="position-fixed bottom-0 top-2 right-5 p-3" style="z-index: 5; right: 0; bottom: 0; top:0; margin-top: 60px;">
                        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="3000">
                            <div class="toast-header">
                                <strong class="mr-auto text-success">Opa, Sucesso...</strong>
                                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="toast-body">
                                <div class="text-success p-2">
                                    {{message}}
                                </div>
                            </div>
                        </div>
                    </div>
                {% elif message.tags == 'info'%}
                    <div class="position-fixed bottom-0 top-2 right-5 p-3" style="z-index: 5; right: 0; bottom: 0; top:0; margin-top: 60px;">
                        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="3000">
                            <div class="toast-header">
                                <strong class="mr-auto text-info">Informações para você...</strong>
                                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="toast-body">
                                <div class="text-info p-2">
                                    {{message}}
                                </div>
                            </div>
                        </div>
                    </div>
                {% elif message.tags == 'warning'%} 
                    <div class="position-fixed bottom-0 top-2 right-5 p-3" style="z-index: 5; right: 0; bottom: 0; top:0; margin-top: 60px;">
                        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="3000">
                            <div class="toast-header">
                                <strong class="mr-auto text-warning">Ops! Falhas a vista....</strong>
                                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="toast-body">
                                <div class="text-warning p-2">
                                    {{message}}
                                </div>
                            </div>
                        </div>
                    </div>
                {% elif message.tags == 'error'%}
                    <div class="position-fixed bottom-0 top-2 right-5 p-3" style="z-index: 5; right: 0; bottom: 0; top:0; margin-top: 60px;">
                        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="3000">
                            <div class="toast-header">
                                <strong class="mr-auto text-danger">Ops! Ocorreu algum erro....</strong>
                                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="toast-body">
                                <div class="text-danger p-2">
                                    {{message}}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        {% block javascript %}
        {% endblock %}
    </body>
</html>